doctype html
html
  include inc/head
  body
    textarea#source
      include ../slides/a-title.md
      include ../slides/b-agenda.md
      include ../slides/c-what-is-k8s.md
      include ../slides/d-what-k8s-is-not.md
      include ../slides/e-concepts.md
      include ../slides/f-demo.md
      include ../slides/z-questions.md
    include inc/scripts
